@charset "UTF-8";

/*Typicol Device Breakpoints
-----------------------------
Pequenas telas: Até 600px
Celular: de 600px até 768px
Tablet: de 768px até 992px
Deskpot: de 992px até 1200px 
Grandes telas: acima dde 1200px
*/

@media screen and (min-width: 300px) and (max-width: 500px) {
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to left, orange, yellow)
}

main {
    height: auto;
    width: 390px;
    background-color: white;
    margin: auto;
    margin-top: 80px;
    border-radius: 5px 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.537);
}

h1 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container-add {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 10px;
    column-gap: 6px;
}

.container-add>label {
    font-size: 1.4em;
}

.container-add>input {
    width: 200px;
    height: 30px;
    font-size: 1.2em;
}

.container-tarefa {
    height: auto;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    margin: 10px;
    text-align: left;
    background-color: rgba(128, 128, 128, 0.283);
    display: flex;
    align-items: center;
    justify-content: space-between;
    word-break: break-word;
}

div > ul {
    list-style-type: none;
}

img {
    cursor: pointer;
    height: 35px;
    
  }

.container-pesquisa > input {
    width: 300px;
    height: 30px;
    font-size: 1.2em;
    text-align: center;
    margin-top: 4px;
}

.container-pesquisa > i {
    position: absolute;
}

.container {
    flex-direction: column;
    align-items: center;
}

.container-filtro {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 5px;
    font-size: 1em;
    margin: 20px;
}

.container-center {
    display: flex;
    justify-content: center;
}


.container-icones {
    justify-content: flex-end;
    display: flex;
    align-items: flex-start;
  }

.esconder-botoes {
    display: none;
}
}